<div class="container">
  <div class="row">
    <div *ngFor="let crib of cribs" class="col-sm-4 p-2">
      <div class="card-deck">
        <div class="card">
          <img src="assets/images/{{crib.image}}.jpg" class="card-img-top" alt="{{crib.type}}">
          <div class="card-body">
            <div *ngIf="!crib.showDetails">
              <h4>
                <span class="badge badge-warning">
                  {{crib.type}}
                </span>
              </h4><i class="fas fa-user"></i>
              <h3> {{crib.price | currency:'EUR':true}}</h3>

              <h4> {{crib.address}}</h4>
              <!-- <hr>
            <button class="btn btn-primary" href="#">send</button> -->
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>>