<div class="card-deck">
  <div class="card">
    <img src="assets/images/{{crib.image}}.jpg" class="card-img-top" alt="{{crib.type}}">
    <div class="card-body">
      <div *ngIf="!crib.showDetails">
        <h4>
          <span class="badge badge-warning">
            {{crib.type}}
          </span>
        </h4>
        <h3><i class="fas fa-tag " style="color:rgb(202, 133, 29)"></i> {{crib.price | currency:'EUR':true}}</h3>

        <h4><i class=" fas fa-home" style="color:rgba(240, 209, 33, 0.521)" aria-hidden="true"></i>
          {{crib.address}}
        </h4>
        <hr>
        <button class="btn btn-sm btn-success" href="#" *ngIf="!crib.showDetails"
          (click)="crib.showDetails = !crib.showDetails">
          send
        </button>
      </div>


      <div *ngIf="crib.showDetails">
        <h4>
          <span class="badge badge-warning mr-1">
            Beds: {{crib.bedrooms}}
          </span>
          <span class="badge badge-warning mr-1">
            Baths: {{crib.bathrooms}}
          </span>
          <span class="badge badge-warning">
            SqFt: {{crib.area}}
          </span>
        </h4>
        <p>{{crib.description}}</p>

        <hr>

        <button class="btn btn-sm btn-danger" href="#" *ngIf="crib.showDetails"
          (click)="crib.showDetails = !crib.showDetails">
          Close
        </button>
      </div>

    </div>

  </div>
</div>